body {
    font-weight: 500;
}

#container {
    width: 1160px;
    margin: 45px auto 0 auto;
}

#title {
    text-align: center;
    margin-bottom: 20px;
}

#header_paragraph {
    margin-bottom: 20px;
    font-size: 14px;
    width: 960px;
}

#load_btn {
    position: relative;
    float: right;
    margin: 0 20px 20px 0;
}

.table_ids {
    font-weight: bolder;
}

/* Setting columns width */
th.id {
    width: 15%;
}

th.name {
    width: 30%;
}

@media only screen and (max-width: 1000px) {
    #container {
      width: 100%;
    }
  }